<form action="/dashboard/addTeam" method="POST">
    <div class="field">
        <label class="label">Team Name</label> <input class="input" type="text" placeholder="Enter team name" name="teamName">
    </div>
    <button class="button is-link">Add Team</button>
</form>